.todo-container {
  width: 380px;
  margin: 40px auto;
  padding: 20px 25px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  color:black;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-area input {
  flex: 1;
  padding: 10px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

.input-area input:focus {
  border-color: #5b54f7;
  outline: none;
}

.add-btn {
  padding: 10px 14px;
  background: #5b54f7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.add-btn:hover {
  background: #433df0;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  background: #f7f7ff;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item span {
  font-size: 15px;
}

.delete-btn {
  padding: 6px 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #e64040;
}
