/* LudoBoard.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f6f8;
  font-family: Poppins, sans-serif;
}

h1 {
  color: red;
  margin-bottom: 20px;
}

.board {
  background-color: white;
  width: 300px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.move {
  margin-bottom: 15px;
  text-align: center;
}

p {
  font-weight: bold;
  margin: 5px 0;
}

button {
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 8px;
  cursor: pointer;
}

h1{color: green;}